/****** COLORS ******/
$main-white: #fff;
$offset-white: #f6f6f6;

$main-green: rgb(41 44 26);
$main-dark-green: rgb(22, 24, 14);

$error: red;

// Backgrounds
$main-background: $offset-white;

// Inputs
$input-background: rgb(211 211 211 / 15%);
$input-background-selected: rgba(48, 47, 47, 0.075);
$input-blurred: rgba(48, 47, 47, 0.2);

//Buttons
$light-button: #fcfcfc;
$light-button-selected: #dddddd;

/****** STYLES ******/
$card-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

/****** FONTS ******/
$main-font: sans-serif;


/****** BREAKPOINTS ******/
@mixin devices ($breakpoint) {
  @if $breakpoint == laptop {
      @media only screen and (max-width: 1366px) {
        @content;
      }
    }    

  @if $breakpoint == tablet-portrait {
    @media only screen and (max-width: 1025px) {
      @content;
    }
  }    

  @if $breakpoint == tablet {    
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }  
}