@import '../styles.scss';

.task-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  width: 100%;
  z-index: 2;

  .task-card-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    height: 750px;
    max-width: 90%;
    width: 1000px;
    border-radius: 32px;
    background-color: $main-background;
    box-shadow: $main-box-shadow;
  
    .close-icon {
      position: absolute;
      top: 32px;
      right: 32px;
      height: 24px;
      width: 24px;
    }

    .close-icon:hover {
      cursor: pointer;
    }

    .task-card-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 64px;
      width: 100%;

      .task-card-select-status {
      }

      .task-card-activity {
        display: flex;
        width: 50%;
        margin: 8px;
        padding: 32px;
        border: 1px solid $light-grey;
        border-radius: 32px;
      }
  
      .task-card-information {
        margin: 8px;
        padding: 32px;
        border: 1px solid $light-grey;
        border-radius: 32px;
        max-width: 30%;

        .task-card-select-container {
          display: flex;
          flex-direction: row;

          #task-card-select {
            color: $main-dark-green;
            background: $main-blue;
            height: 32px;
            width: 225px;
            border-radius: 32px;
          }
            
          #task-card-select:focus {
            border: 1px solid $light-grey;
            outline: 1px solid $main-dark-green;
          }
        }

        .task-card-select-status {
          margin-top: 16px;
          max-width: 100%;
        }
      }
    }
  }
}