@import '../styles.scss';

.team-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 1100px;
  width: 100%;
  background-image: url('../../assets/TeamVector.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 70px;
  background-size: 1000px;
}